.amb-avatars label {
	display:    inline-block;
	margin-top: 8px;
}

	.amb-avatars input[type="radio"] {
		clip:     rect( 1px, 1px, 1px, 1px );
		height:   1px;
		overflow: hidden;
		position: absolute !important;
		width:    1px;
	}

	.amb-avatars .avatar {
		box-sizing: border-box;
		max-width:  100%;
		height:     auto;
		padding:    1px;
		border:     4px solid transparent;
	}

		#side-sortables .amb-avatars .avatar {
			max-width:  60px;
			max-height: 60px;
		}

	.amb-avatars img:hover,
	.amb-avatars img:focus {
		border-color: #ccc;
	}

	.amb-avatars input:checked + span + img {
		border-color: #00a0d2;
	}
